body{
    margin: 0px;
    padding: 0px;
    background: #1c1c1c;
    font-family: 'Arial';
    box-sizing: border-box;
}

.card-container{
    width: 1000px;
    height: 600px;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
}

.upper-container{
    height: 150px;
    background: #2b7199;
}

.image-container{
    background: white;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(750px,75px);
    align-items: center;
}

.image-container img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    align-items: center;
}

.main-container{
    height: 180px;
    background: #ffffff;
    padding: 20px;
    padding-top: 40px;
    margin-left: 100px;
}

.main-container h3{
    box-sizing: border-box;
    line-height: .6;
    font-weight: bold;
    font-size: 30px;
}

.main-container h4{
    box-sizing: border-box;
    line-height: .6;
    font-weight: bold;
    font-size: 25px;
}

.main-container p{
    font-size: 16px;
    margin-bottom: 30px;
}

.lower-container{
    height: 280px;
    background: #ffffff;
    padding: 20px;
    padding-top: 40px;
    margin-left: 100px;
}

.lower-container i{
    color: #1c1c1c;
    margin-right: 16px;
}



